@import "tailwindcss";

* {
  font-family: Inter, sans-serif;
}

html {
  background-color: black;
  color: white;
}

html.light {
  background-color: white;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}
